.bigcardiamgeIcon {
  max-width: 100%;
  overflow: hidden;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
}
.bigcardiamgeIcon,
.description,
.title {
  align-self: stretch;
  position: relative;
}
.title {
  letter-spacing: -0.24px;
  line-height: 32px;
  color: #58584a;
}
.description {
  font-size: 18px;
  line-height: 24px;
}
.svgIcon {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.datetext {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-transform: uppercase;
}
.date,
.likes {
  flex-direction: row;
}
.date {
  display: flex;
  padding: 2px 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.likes {
  border-radius: 4px;
  padding: 2px 5.274999618530273px 2px 5px;
  align-items: center;
  gap: 4.48px;
  font-size: 11px;
}
.bigcard,
.comments,
.details,
.likes,
.stats {
  display: flex;
  justify-content: flex-start;
}
.comments {
  border-radius: 4px;
  flex-direction: row;
  padding: 2px 5.837499618530273px 2px 5px;
  align-items: center;
  gap: 5.04px;
}
.bigcard,
.details,
.stats {
  align-items: flex-start;
}
.stats {
  flex-direction: row;
  gap: 7px;
  font-size: 12px;
  font-family: Roboto;
}
.bigcard,
.details {
  align-self: stretch;
  flex-direction: column;
  gap: 9px;
}
.bigcard {
  cursor: pointer;
  text-decoration: none;
  gap: 20px;
  text-align: left;
  font-size: 28px;
  color: #878781;
  font-family: Lora;
}
